<%= form_for @link do |f| %>

  <% if @link.errors.any? %>
    <h2>We have some errors here !</h2>
    <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :title, "Title" %>
  <%= f.text_field :title %>

  <%= f.label :url, "Url" %>
  <%= f.text_field :url %>

  <%= f.submit %>

<% end %>