<section id="section_links">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <% @links.each do |link| %>
          <div class="card mt-4">
            <div class="card-header">
              Reddit
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p><%= link_to link.title, link_path(link), style: "text-decoration: none;", class: "text-info" %></p>
                <footer class="blockquote-footer">Submitted
                  <%= time_ago_in_words(link.created_at) %> by <%= link.user.email %>
                </footer>
              </blockquote>
            </div>
            <!-- 按鈕區 -->
            <div class="card-footer">
              <div class="btn-group" role="group" aria-label="Basic example">

                <%= link_to like_link_path(link), method: :put, class: "btn btn-dark" do %>
                  Upvote
                  <%= link.get_upvotes.size %>
                <% end %>

                <%= link_to dislike_link_path(link), method: :put, class: "btn btn-dark" do %>
                  Downvote
                  <%= link.get_downvotes.size %>
                <% end %>
              </div>
            </div>
            <!-- 按鈕區 -->
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
