<section id="section_about">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="card mt-4">
          <div class="card-header">
            Reddit
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p><%= link_to @link.title , @link.url, class: "text-info", style: "text-decoration: none;", target: "_blank" %></p>
              <footer class="blockquote-footer">Submitted
                <%= time_ago_in_words(@link.created_at) %> by <%= @link.user.email %>
              </footer>
            </blockquote>
          </div>
          <div class="card-footer">
            <div class="btn-group" role="group" aria-label="Basic example">
              <%= link_to "Visit URL", @link.url, class: "btn btn-outline-warning", target: "_blank" %>
              <% if @link.user == current_user -%>
                <%= link_to "Edit", edit_link_path(@link), class: "btn btn-outline-warning" %>
                <%= link_to "Destroy", @link, class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
              <% end %>
            </div>
            <hr>
            <!-- show comment -->
            <% @link.comments.each do |comment| %>
              <div>
                <p><%= simple_format comment.body %></p>
                <p class="text-muted">Submitted
                <%= time_ago_in_words(comment.created_at) %> by <%= comment.user.email %>
                <% if comment.user == current_user %>
                  <%= link_to "Delete", link_comment_path(@link, comment), method: :delete %>
                <% end %>
                </p>
              </div>
              <hr>
            <% end %>

            <!-- input comment -->
            <%= form_for [@link, @comment] do |f| %>
              <h5 class="comments_title mt-3">
                <%= @link.comments.count %> Comments
              </h5>
              <div class="form-group">
                <%= f.text_area :body, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.submit "Add Comment", class: "btn btn-secondary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>